﻿@*(C) 2014-2016, Sergei Zaychenko, NURE, Kharkiv, Ukraine*@

@using Microsoft.Extensions.Localization;

@inject IStringLocalizer< Pizzario.Web.Resources > Localizer
    
@model Pizzario.Web.Models.CartViewModel

@{
    Layout = null;
}

@if ( Model.Cart.Items.Count == 0 )
{
    <p class="text-muted">@Localizer[ "No items added yet" ]</p>
}
else {
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th class="table-column-productname">@Localizer[ "Product" ]</th>
                <th>@Localizer[ "Size"  ]</th>
                <th>@Localizer[ "Price" ]</th>
                <th>@Localizer[ "Count" ]</th>
                <th>@Localizer[ "Cost"  ]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var item in Model.Cart.Items )
            {
                <tr>
                    <td class="table-column-productname">
                        @item.ProductName
                    </td>
                    <td>
                        @item.SizeName
                    </td>
                    <td>
                        @item.FixedPrice &#x20b4;
                    </td>
                    <td>
                        <input type="number" min="1" value="@item.Quantity" style="width: 50px"
                                onchange="updateCartItem( '@item.ProductId', '@item.SizeId', this.value  );" />
                    </td>
                    <td>
                        @item.FixedCost &#x20b4;
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning"
                                onclick="removeCartItem( '@item.ProductId', '@item.SizeId' )">
                            <span class="glyphicon glyphicon-remove"></span> @Localizer[ "Remove" ]
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>@Localizer[ "Total" ]: <strong>@Model.Cart.TotalCost</strong> &#x20b4;</p>

}
