﻿@*(C) 2014-2016, Sergei Zaychenko, NURE, Kharkiv, Ukraine*@

@using Microsoft.Extensions.Localization;

@inject IStringLocalizer< Pizzario.Web.Resources > Localizer
    
@model Pizzario.Web.Models.OrderViewModel

@{
    Layout = "_BasicLayout";
    ViewBag.Title = Localizer[ "Order" ];
}

<div class="container content-wrap">

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            <h2>@Localizer[ "Order Status" ]</h2>

            <div>
                <p>@Localizer[ "Order ID" ]: @Model.Order.DomainId</p>
                <p>@Localizer[ "Status"   ]: @Model.Order.Status</p>
                <p>@Localizer[ "Placed"   ]: @Model.Order.PlacementTime</p>
                <p>@Localizer[ "Name"     ]: @Model.Order.CustomerName</p>
                <p>@Localizer[ "Address"  ]: @Model.Order.CustomerAddress</p>
                <p>@Localizer[ "Phone"    ]: @Model.Order.ContactPhone</p>
                <p>@Localizer[ "E-mail"   ]: @Model.Order.ContactEmail</p>
                <p>@Localizer[ "Discount" ]: @Model.Order.DiscountPercentage%</p>
                <p>@Localizer[ "Cost"     ]: @Model.Order.TotalCost &#x20b4;</p>
                <p>@Localizer[ "Comment"  ]: @Model.Order.Comment</p>
            </div>

        </div>

    </div>

</div>