﻿@*(C) 2014-2016, Sergei Zaychenko, NURE, Kharkiv, Ukraine*@

@using Microsoft.Extensions.Localization

@model Pizzario.Web.Models.MenuViewModel

@inject IStringLocalizer< Pizzario.Web.Resources > Localizer   

@{
    Layout = "_BasicLayout";
    ViewBag.ActiveLink = "menu";
    ViewBag.Title = Localizer[ "Menu" ];
}

<div class="container content-wrap">

    <div class="row">

        @foreach ( var product in @Model.Products )
        {
            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="thumbnail">

                    <img src="~/@product.ImageUrl" class="img-responsive img-circle center-block" alt="@product.Name" >

                    <div class="caption">
                        <h3>@product.Name</h3>
                        <p class="small">@product.Description</p>
                    </div>

                    <div class="container-fluid prices">
                        <div class="row">

                            @foreach ( var size in @Model.Sizes )
                            {

                                <div class="col-xs-4 prices-concrete">
                                    <img src="~/@size.ImageUrl" alt="@size.Name">
                                    <p>@(size.Diameter)@Localizer["cm"]</p>
                                    <p>@(size.Weight)@Localizer["g"]</p>
                                    <p><strong>@(Model.ProductPrices[ @product.DomainId ][ @size.DomainId ])&#x20b4;</strong></p>

                                    <div class="submit bottom">
                                        <p>
                                            <button type="button" class="btn btn-success btn-block"
                                                    onclick="addToCart('@product.DomainId', '@size.DomainId')">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> @Localizer["Buy"]
                                            </button>
                                        </p>
                                    </div>

                                </div>

                            }

                        </div>
                    </div>

                </div>

            </div>

        }

    </div>

</div>
