﻿@*(C) 2014-2016, Sergei Zaychenko, NURE, Kharkiv, Ukraine*@

@using Microsoft.Extensions.Localization;

@model Pizzario.Web.Models.CartViewModel

@inject IStringLocalizer< Pizzario.Web.Resources > Localizer

@{
    Layout = "_BasicLayout";
    ViewBag.Title = Localizer[ "Checkout" ];
}

@section HeaderContent
{
    <script src="/js/order_details.js"></script>
}


<div class="container content-wrap">

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            <h2>@Localizer[ "Order Content" ]</h2>

            @if ( Model.Cart == null || Model.Cart.Items.Count == 0 )
            {
                <p class="text-muted">@Localizer[ "No items added yet" ]</p>
            }
            else
            {
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="table-column-productname">@Localizer[ "Product" ]</th>
                            <th>@Localizer[ "Size"  ]</th>
                            <th>@Localizer[ "Price" ]</th>
                            <th>@Localizer[ "Count" ]</th>
                            <th>@Localizer[ "Cost"  ]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach ( var item in Model.Cart.Items )
                        {
                            <tr>
                                <td class="table-column-productname">
                                    @item.ProductName
                                </td>
                                <td>
                                    @item.SizeName
                                </td>
                                <td>
                                    @item.FixedPrice &#x20b4;
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.FixedCost &#x20b4;
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <p>@Localizer[ "Total" ]: <strong>@Model.Cart.TotalCost</strong> &#x20b4;</p>

            }

        </div>

    </div>

    @if ( Model.Cart != null && Model.Cart.Items.Count > 0 )
    {
        <div class="row">

            <div class="col-xs-10 col-xs-offset-1">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="false" data-toggle="collapse" data-target="#orderDetails">
                        @Localizer[ "I confirm the content of the order is correct" ]
                    </label>
                </div>

            </div>

        </div>

        <div class="row collapse" id="orderDetails">

            <div class="col-xs-10 col-xs-offset-1">

                <h2>@Localizer[ "Order Details" ]</h2>

                <div>

                    <form id="orderDetailsForm" class="form-horizontal" method="post">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputName">@Localizer[ "Name" ]</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input class="form-control" type="text" id="inputName" name="inputName" placeholder="@Localizer[ "Your Name" ]" />
                                </div>
                                <span class="help-block">@Localizer[ "Example" ]: John Smith</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputAddress">@Localizer[ "Deliver To" ]</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input class="form-control" type="text" id="inputAddress" name="inputAddress" placeholder="@Localizer[ "Delivery Address" ]" />
                                </div>
                                <span class="help-block">@Localizer[ "Example" ]: 44 Fifth Avenue, ap.17</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputPhone">@Localizer[ "Phone" ]</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                    <input type="text" class="form-control" id="inputPhone" name="inputPhone" placeholder="@Localizer[ "Your Phone" ]" />
                                </div>
                                <span class="help-block">@Localizer[ "Example" ]: (050)123-45-67</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputEmail">@Localizer[ "E-mail" ]</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input class="form-control" type="email" id="inputEmail" name="inputEmail" placeholder="@Localizer[ "E-mail" ]" />
                                </div>
                                <span class="help-block">@Localizer[ "Example" ]: john.smith@gmail.com</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputComment">@Localizer[ "Comment" ]</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" id="inputComment" name="inputComment"></textarea>
                                <span class="help-block">(@Localizer[ "Optional" ])</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <button type="submit" class="btn btn-success">@Localizer[ "Submit" ]</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    }

</div>
